In [ ]:
# Import libraries and connection to Util
import pandas as pd
import sys 
sys.path.append('..')
from src.utils.db_engine import db_engine
engine = db_engine()

In [67]:
query = """
    SELECT
        f.title,
        COUNT(*)
    FROM
        film as f
    INNER JOIN 
        inventory as i
    ON
        f.film_id = i.film_id
    INNER JOIN 
        rental as r
    ON
        i.inventory_id = r.inventory_id
    INNER JOIN 
        payment as p
    ON
        r.rental_id = p.rental_id
    GROUP BY
        f.title
    ORDER BY 
        COUNT(p.amount) DESC
"""
df = pd.read_sql(query, engine)
df.head(25)

                   title  count
0          Scalawag Duck     29
1         Juggler Hardly     29
2            Shock Cabin     29
3             Frost Head     28
4          Apache Divine     28
5              Zorro Ark     28
6         Grit Clockwork     28
7           Dogma Family     28
8    Ridgemont Submarine     28
9    Rugrats Shakespeare     28
10    Bucket Brotherhood     28
11      Rocketeer Mother     28
12       Rush Goodfellas     28
13             Wife Turn     27
14           Titans Jerk     27
15       Suspects Quills     27
16           Harry Idaho     27
17         Cat Coneheads     27
18        Greatest North     27
19  Sweethearts Suspects     27
20   Gleaming Jawbreaker     27
21          Network Peak     27
22         Primary Glass     27
23              Spy Mile     27
24         Muscle Bright     27

2